.container{
    margin-top: 100px;
    background-image: url(../../assets/download.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

.background{
    background-image: url(../../assets/download.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}