
<nav  class="navbar navbar-expand-lg navbar-light shadow bg-dark">
  <div id="shl" class="container-fluid">
    <a class="navbar-brand" href="#"><i class="fas fa-palette"></i>Art Glalry</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ">
        <li class="nav-item">
          <a class="nav-link active" routerLinkActive="active" routerLink="home"><i class="fas fa-home"></i>Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLinkActive="active" routerLink="acrylic">Acrylic</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link active" routerLinkActive="active" routerLink="oil" >Oil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active " routerLinkActive="active" routerLink="pencil" >Pencil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLinkActive="active" routerLink="charcoal" >Charcoal</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLinkActive="active" routerLink="test" >Test</a>
        </li>
      </ul>
      
    </div>
  </div>
</nav>

<div class="container">
   <router-outlet></router-outlet>
</div>


<!--
  <div style="bottom: 0px; width: 100%;">
   <app-footer class="mt-auto"></app-footer>
</div>
-->