<div id="lin">
<h3 class="mt-1 text-center">View some of our artists work</h3>

<ul class="nav nav-pills justify-content-evenly mt-3">
    <li id="fr" class="nav-item shadow">
      <a class="nav-link" routerLink="pradyutha">Pallavi Paul </a> 
    </li>
    <li id="fr" class="nav-item shadow">
      <a class="nav-link" routerLink="harini">Sumakshi Singh</a>
    </li>
    <li id="fr" class="nav-item shadow">
      <a class="nav-link" routerLink="products">Other Artists</a>
    </li>
</ul>
</div>

<div class="container">
    <router-outlet></router-outlet>
</div>
