body{
   
   background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRFY0mPvjkEAU33qamJ9234by37ipcwf58G2Q&usqp=CAU);
    background-size: 100% 100%;
    background-attachment: fixed;
}

