
<h3  id="f" class="text-center mt-3 ">Would like to be a member?</h3>
<h3 id="f" class="text-center  mt-1"><i class="fas fa-user"></i></h3>

<form class="m-5 d-block mx-auto " style="width: 50%; ">
    <div id="f" class="mb-3 ">
        <label for="na" class="form-label">Name</label>
        <input type="text" class="form-control  " id="na" >
      </div>
    <div id="f" class="mb-3 ">
        <label for="em" class="form-label">Email address</label>
        <input type="email" class="form-control  " id="em" >
    </div>
    <div id="f" class="mb-3">
        <label for="pw" class="form-label">Password</label>
        <input type="password" class="form-control  " id="pw" >
    </div>
    <div id="f" class="mb-3">
       <label  for="k" class="form-label"> Date of birth</label>
       <input type="date"  id="k" class="form-control">
    </div>

     <button id="m" class="btn btn-success d-block mx-auto">Register</button> 
</form>
